body {

    background-image: url('billeder/baggrund_22-100.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 65% 0%;

}


}



/*********************** Navbar ************************/
.bg_color {
    background-color: none;
}

@media only screen and (max-width: 1000px) {


    .bg_color {
        background-color: white;
        ;
    }
}

/*********************** Navbar slut ************************/
.baggrund_color {
    background-color: white;
    width: 100vw;
    height: auto,
}


/*********************** #projek ************************/
.projekt {
    margin-top: 5vw;
}

/*********************** #projek slut ************************/

/*********************** #Overskrift ************************/

#overskrift {
    height: 100vh;
}

.overskrift {
    margin-top: 18%;
}

.overskrift .over_end {
    display: flex;
    justify-content: flex-end;
}


.v_name {
    writing-mode: vertical-rl;

    position: absolute;
    top: 75%;
    height: 100%;
    left: 0%;
    position: fixed;
    z-index: 10
}

.v_name,
.v_name_p,
.v_name_ani p {
    font-size: 1.7rem;
}

.v_name_p {
    writing-mode: vertical-rl;

    position: absolute;
    top: 79%;
    height: 100%;
    left: 0%;
    position: fixed;

}

.v_name_ani {
    writing-mode: vertical-rl;

    position: absolute;
    top: 63%;
    height: 100%;
    left: 0%;
    position: fixed;

}

.v_name_choc {
    writing-mode: vertical-rl;

    position: absolute;
    top: 76%;
    height: 100%;
    left: 0%;
    position: fixed;

}

.v_name_21 {
    writing-mode: vertical-rl;

    position: absolute;
    top: 85%;
    height: 100%;
    left: 0%;
    position: fixed;

}

.v_name_sol {
    writing-mode: vertical-rl;

    position: absolute;
    top: 77%;
    height: 100%;
    left: 0%;
    position: fixed;

}

.ekstra_p {
    font-size: 2.3rem;
}

/*********************** #Overskrift slut  ************************/
/***************************** #about *****************************/


#about {
    margin-top: 5vw;
}


/***************************** #about slut *****************************/



/***************************** footer *****************************/


footer {
    background-color: none;

}


/***************************** footer slut *****************************/
