body {
    margin: 0;
}

img {
    max-width: 100%;
}


/************************ Fonte *************************/

h1 {}

h2 {}

h6 {}

p {}

/********************* Fonte SLUT ***********************/




/********************* scroll-snap ***********************/

.container-fluid {
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    padding: 0;
}

.item {
    /*    border-bottom: 5px solid white;*/
    color: white;
    background: #f0f0ff;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
    /*    padding-top: 10vw;*/
}

.item:nth-child(odd) {
    background: grey;
}

.row {
    max-width: 100%;
}

/********************* scroll-snap SLUT ***********************/


/*************************** intro  scroll *******************************/


/*************************** intro  scroll slut *******************************/

/*
.scroll_03 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 7rem;
}*/

.text {
    transform: rotate(90deg);
    width: 100%;
    margin: 1vw;
}


.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;

}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;

    padding-top: 2vw;
}

.button p {
    margin: 0;
}

.line {
    width: 55px;
    height: 1px;
    background-color: black;
    margin: 5px;
}

a {
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:hover .line {
    width: 65px;
    background-color: white;
}

.slide_nr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
