body {

    margin: 0;

    background-image: url('billeder/baggrund_21-100.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;


}




img {
    max-width: 100%;
}

.baggrund_img {
    background-image: url('billeder/baggrund_18-100.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

@media only screen and (max-width: 760px) {
    body {
        background-image: url('billeder/baggrund_mobile_07-100.jpg');
    }

    .baggrund_img {
        background-image: url('billeder/baggrund_mobile_08-100.jpg');
        /*        display: none*/
    }
}

/************************ Farver ****************************/
.f_orange {
    color: #E15650;

}

.f_yellow {
    color: #FCA15B;
}

/************************ Farver ****************************/

/************************ Fonte *************************/

h1 {
    font-family: 'Yeseva One', cursive;

    font-size: 3.6rem;
}

h2 {
    font-family: 'Yeseva One', cursive;

    font-size: 3.2rem;
}

h3 {
    font-family: 'Yeseva One', cursive;

    font-size: 1.5rem;
}

h4 {
    font-family: 'Yeseva One', cursive;

    font-size: 5.5rem;
}


@media only screen and (max-width: 600px) {
    h4 {

        font-size: 3.3rem;
    }


}

h5 {

    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: .8px
}

h6 {
    /*    font-family: 'Alice',
serif;*/
    font-family: 'Philosopher', sans-serif;

}

p {

    font-family: 'Dosis',
        sans-serif;
    font-weight: 500;

    letter-spacing: .8px
        /*
    font-family: 'Karla',
    sans-serif;
*/

}

.p_2 {
    font-size: 1.2rem;

}


/********************* Fonte SLUT **********************/

.navbar-light .navbar-toggler {
    border: none;
}

nav button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

nav a {
    font-family: 'Dosis',
        sans-serif;
    font-weight: 400;
}

nav a img {
    /*    width: 20%;*/

}

.bg_color {
    background-color: none;
}

@media only screen and (max-width: 600px) {


    .bg_color {
        background-color: white;
        ;
    }
}

/********************* scroll-snap ***********************/

.container-fluid {
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    padding: 0;
}

.item {
    /*    border-bottom: 5px solid white;*/
    /*
    color: white;
    background: grey;
*/
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
    /*    padding-top: 10vw;*/
}

.item:nth-child(odd) {
    /*    background: grey;*/
}

.row {
    max-width: 100%;
}

.color_baggrund {
    height: 100vh;
    width: 30vw;
    background-color: yellow;
}

/********************* scroll-snap SLUT ***********************/


/*************************** start  scroll *******************************/
.start {
    justify-content: center;
    align-items: flex-start;
}

.start {
    display: flex;
    flex-direction: column;

    ;
}



.rotate {
    writing-mode: vertical-rl;

    position: absolute;
    top: 80%;
    left: 0%;


}



.row_flex {
    display: flex;
    flex-direction: column;
}

.row_width {
    width: 100vw;
}

.col_width {
    width: 100%;

}

.mini_nav a {

    font-family: 'Dosis',
        sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

    letter-spacing: .8px
}

.bounce {
    animation-name: bounce;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(2vw);
    }

    100% {
        transform: translateY(0vw);
    }

}

/*************************** start  scroll slut *******************************/


.text {

    transform: rotate(90deg);

    margin: 1vw;


}


.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;

}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;



    padding-top: 2vw;

}

.button p {
    margin: 0;
}

.line {
    width: 45px;
    height: 1px;
    background-color: black;
    margin: 5px
}

.line_02 {
    width: 1px;
    height: 125px;
    background-color: #E15650;
    margin-top: 10px;

}

.line_03 {
    width: 1px;
    height: 125px;
    background-color: #FCA15B;
    margin-top: 10px;

}

.boxx {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

a {
    color: black;
}

a:hover {
    color: #F67E71;
    text-decoration: none;
    transition: .5s ease;

}

a:hover .line {
    width: 65px;
    background-color: #F67E71;
    transition: .5s ease;

}

.slide_nr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


/************************** Footer ***************************/
footer {
    padding-bottom: 1vw;
    z-index: 1;
}

.button_02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

}

footer p {
    margin: 0;
}
